/*mypage画面*/

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}
header {
	background-color: #8F8E8E;
	height: 100px;
	margin-bottom: 110px;
}

.divHeadLink {
	float: right;
	margin-top: 35px;
	margin-right: 100px;
	display: flex;
}

main {
    height:480px;
}

#image {
	width: 20%;
	float: left;
	margin-top: 20px;
	margin-left: 100px;
}

header a {
    text-decoration:none;
}

a {
    margin-right:20px;
}
.menu a {
    text-decoration:none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

headerThema {
    background-color: #8F8E8E;
    padding: 10px;
}

headerThema div h2{
    color: white;
    text-align: center;
}

footer {
    background-color: #8F8E8E;
    color: white;
    width: 100%;
    text-align: center;
}

footer small {
    display: inline-block;
    padding: 30px 0;
}