@charset "UTF-8";

footer {
	/* text-align: center; */
	background: #ababab;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	background-color: #8F8E8E;
	height:80px;
	margin-bottom:200px;
}

.divOne {
	text-align: center;
}

hr {
	width: 300px;
}

h6 {
	text-align: center;
}

form {
	margin-left: 150px;
	background: #7ee98c88;
	margin-right: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
main{
	height:600px;
}

.divTwo {
	float: left;
}
button {
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 50%;
    margin-right: auto;
}
.divThree {
	float: left;
}