@charset "UTF-8";

footer {
	/* text-align: center; */
	background: #ababab;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	background-color: #8F8E8E;
	height: 80px;
	margin-bottom: 200px;
}

main {
	text-align: center;
	height:600px
}

div {
	background: #7ee98c88;
	height: 100px;
	margin-left: 200px;
	margin-right: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	margin-top: 20px;
}