@charset "UTF-8";

header {
	background-color: #8F8E8E;
	height:80px;
	margin-bottom:200px;
}
h2{
	text-align:center;
}
hr{
	width:300px;
}

p {
    background: #7ee98c88;
    height: 100px;
    width: 50%;
    /* text-align: center; */
    /* vertical-align: middle; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


button.password-reset\.btn {
    /* FONT-WEIGHT: 100; */
    /* text-align: center; */
    margin-top: 20px;
    margin-bottom:200px;
}

main {
    text-align: center;
    height:600px;
}
footer {
    /* text-align: center; */
    background: #ababab;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
