/*cart画面 */
body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}
.lesson-header{
    display:flex;
    justify-content: space-between;
}

/*导航栏*/
.lesson-nav{
    display: flex;
    color: black;
    list-style: none;
    gap: 0 20px;
}

.lesson-nav li a {
    text-decoration:none;
}
.cart-head{
    background-color: #8F8E8E;
    padding: 10px;
}

.cart-head div h2 {
    color: white;
    text-align: center;
}

.cart-contents{
    display: flex;
    /*要素を中央寄せにする*/
    justify-content: center;
    /*liの・をなくす*/
    list-style: none;
    /*隙間を広げる*/
    gap: 0 20px;
}
.cart-contents li{
    width: 30%;
}

/*取消下划线*/
.menu a {
    text-decoration:none;
}

.menu li{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}


.delete_btn li{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

footer {
    background-color: #8F8E8E;
    color: white;
    width: 100%;
    text-align: center;
}

footer small {
    display: inline-block;
    padding: 30px 0;
}