/*confirm_register画面 */
body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}



header {
    background-color: #8F8E8E;
    padding: 10px;
}

header div h2 {
    color: white;
    text-align: center;
}

main {
    width: 862px;
    margin: 100px auto 180px;

}

.user_confirm_register_table {
    width: 400px;
    background-color: #D6EEE1;
    margin: 0 auto 28px;
}

.user_confirm_register_table td input {
    width: 370px;
    height: 20px;
    background-color: white;
    margin: 10px 15px;
    padding: 10px;
}

#user_name {
    height: 40px;
    font-size: 18px;
    padding-top: 10px;
}

#user_email {
    height: 40px;
    font-size: 18px;
    padding-top: 10px;
}

#user_help {
    height: 20px;
    font-size: 13px;
    padding-bottom: 30px;
}



button {
    text-align: center;
    color: white;
}

.user_register_table td button {
    width: 150px;
    height: 44px;
    background-color: #40CD82;
    border-radius: 22px;
    margin: 25px 125px;
}



#user_help a {
    color: #00A0E9;
}

.user_register_btn {
    width: 400px;
    height: 64px;
    font-size: 20px;
    background-color: #40CD82;
    border-radius: 32px;
    display: block;
    margin: 20px auto;
}

footer {
    background-color: #8F8E8E;
    color: white;
    width: 100%;
    text-align: center;
}

footer small {
    display: inline-block;
    padding: 30px 0;
}